body{
    text-align: center;
    background-color: bisque;
}
.btn{
    border:2px solid black;
    border-radius: 20px;
    padding:10px 15px;
    box-shadow: 0 0 10px grey;
    width:150px;
    margin: auto;
    margin-top: 20px;
    cursor:pointer;
    font-size:22px;


}
.poster{
    height:200px;
    width:350px;
    margin:25px;
}
form{
    display: flex;
    justify-content: space-between;
    
    width:500px;
    margin: auto;
    padding: 20px;

}

.result{
    margin-top: 20px;
    font-size: 20px;

}
.inpt{

    border:2px solid bisque;
    padding:10px;
    border-radius: 20px;
    width:300px;
    font-size: 20px;


}

.message {
    font-size: 18px;
    color: #080808;
    font-weight: bold;
    width:200px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .message-image {
    width: 200px;
    height: 290px;
    border-radius: 8px;
  }
  .after-second-part{
    margin-left: 25px;
    display: flex;
    justify-content: space-evenly;
    width:400px;
    background-color: white;
    border-radius: 15px;
    padding:15px;
  }